<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<h1 th:object="${answer}"></h1>
<h1 th:text="${userName}"></h1>

<form th:action="@{/creating_answer}" th:object="${answer}" method="post">

  <div>
    <label>answer1</label>
    <input type="text" th:field="*{answer1}" placeholder="example@hotmail.com" >
  </div>
  <div>
    <label>answer2</label>
    <input type="text" th:field="*{answer2}" placeholder="example@hotmail.com" >
  </div>
  <div>
    <label>answer3</label>
    <input type="text" th:field="*{answer3}" placeholder="example@hotmail.com" >
  </div>
  <div>
    <label>answer4</label>
    <input type="text" th:field="*{answer4}" placeholder="example@hotmail.com" >
  </div>


  <input type="submit" value="Sign Up">
</form>


</body>
</html>