<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1 th:object="${survey}"></h1>
<form th:action="@{/add_survey}" th:object="${survey}" method="post">

    <div>
        <label>Email</label>
        <input type="text" th:field="*{surveyName}" placeholder="example@hotmail.com" >
    </div>
    <div>
        <label>First Name</label>
        <input type="text" th:field="*{question}" placeholder="Oliver" >
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" th:field="*{answer}" placeholder="Trump" >
    </div>

    <input type="submit" value="Sign Up">
</form>


</body>
</html>