<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>test</h1>
</body>
</html>






<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="header">
    <h1 class="headh1">Learn Fast</h1>
</div>
<form class="whiteSpaceSmall"></form>


<h1 class="headline">User Dashboard</h1>

<div class="form-center">
<a th:href="@{/create_survey}" class="button">Hinzufügen</a>

<button class="button" type="button" onclick="loadDocTable()">Meine Fragen</button>
<div id="demo">

</div>
<button class="button" type="button" onclick="loadDocDrop()">Let´s go</button>
</div>

<div id="drop" class="dropdown">


</div>

<div class="option" id='options'>

</div>

<div class="answers" id="start">

</div>
<div style="width:60%;">
<canvas class="chart" id="myChart" width="100" height="100"></canvas>
</div>


<div id="again" class="startAgain">


</div>






<script>


    let myObj = null;
    var sortObj = []

    //ajax for "Meine Fragen"
    function loadDocTable() {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            myObj = JSON.parse(this.responseText);

            filltable()
        }
        xhttp.open("GET", "/all_survey");
        xhttp.send();
        //xhttp.send("x=" + dbParam);
        count=0;
    }
    //Ajax for the DropDown Menu before the start
    function loadDocDrop() {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            myObj = JSON.parse(this.responseText);

            fillDropDown();
        }
        xhttp.open("GET", "/all_survey");
        xhttp.send();
        //xhttp.send("x=" + dbParam);
        count=0;
    }

    // comming soon :)
    function onDelete(y){

        //document.getElementById("demo").innerHTML = y;

    }

    //FIll the Table "Meine Fragen" dynamical. Use the Json Array ob Objects
    function filltable(){
        //const myObj = JSON.parse(this.responseText);
        let text = "<table border='5' class='down'>"
        text += "<thead class='inside'><td>" + "Thema" + "</td>" + "<td>" + "Frage" + "</td><td>" + "Antwort" + "</td></thead>"

        for (let x in myObj) {

            text += "<tr class='inside'><td>" + myObj[x].surveyName + "</td>" + "<td>" + myObj[x].question + "</td>" + "<td>" + myObj[x].answer + "</td>" + ' <td><button onclick="onDelete(count)">Delete</button></td>' + "</tr>";
            count++;
        }
        text += "</table>"
        document.getElementById("demo").innerHTML = text;

    }

    //fill the DropDown Menu dynamical
    function fillDropDown(){


        for(let x in myObj){
            sortObj.push(myObj[x].surveyName);
        }
        sortObj=_.uniq(sortObj);
        let text ="<select class='button' id='dropMenu' name='drop' onchange='update()'>";
        text +=  "<option onclick='update()'>Random</option>"
        for (let x in sortObj) {
            text +=  "<option onclick='update()'>"+sortObj[x]+"</option>"
        }
        text+="</select>"
        text+= "<input class='hidden' type='text' id='value'>";
        //text+= "<input type='text' id='text'>"
        text+= "<button class='button' onClick='learnOptions()'>Optionen</button>"


        document.getElementById("drop").innerHTML = text;

    }

    var selected ="";

    //get the selected Stack from the DropDwon Menu
    function update() {
        var select = document.getElementById('dropMenu');
        var option = select.options[select.selectedIndex];

        document.getElementById('value').value = option.value;
        //document.getElementById('text').value = option.text;
        selected = option.value;
        //return option.value;
        //document.getElementById("start").innerText = selected;
    }

   // update();

    //is only a placeholder for the future has no function
    function learnOptions(){
        let text ="";

        text+="<input type='radio' id='radio1'>"
        text+="<label for ='radio1'>Shuffel</label>"
        text+="<br>"
        text+="<input type='radio' id='radio2'>"
        text+="<label for ='radio2'>twice</label>"
        text+="<br>"
        text+="<input  type='radio' id='radio3'>"
        text+="<label for ='radio3'>repeat</label>"
        text+="<br>"
        text+= "<button class='button' onClick='makeStackList()'>GO</button>"

        document.getElementById('options').innerHTML = text;
    }
    var questionList=[];

    //List with the selected Questions
    function makeStackList(){

        for(let x in myObj){
            if(myObj[x].surveyName===selected){
                questionList.push(myObj[x])
            }
        }
       // document.getElementById("start").innerText = questionList;
        gameloop(); // start the "game"

    }

    //print selected Questions
    function gameloop(){
        let text = ""
        text +="<div class='whiteSpaceLarge'></div>"
        text += "<table border='1' >"
        text += "<thead><td>" + "Frage" + "</td>" + "<td>" + "Yes" + "</td></thead>"
        var counterId =0;
        for(let x in questionList){
           text+= "<tr><td>" + questionList[x].question + "</td><td>"+"<input type='radio' id='"+counterId+"' value='test'>"+"</td></tr>";
            counterId++
        }

        text += "</table>"
        text+= "<button class='button' onclick='checkRadio()'>Submit</button>"
        document.getElementById("start").innerHTML = text;
    }

    //checks the checked radio buttons and counts them up for the chart
    function checkRadio(){
        let counter = 0;
        for (let i = 0; i < questionList.length; i++) {
            if (document.getElementById(i.toString()).checked) {
                counter++;
            }
        }

       // document.getElementById("start").innerHTML=counter;
        makeChart(counter);
    }

    //Chart Js takes the number of checked and makes a pie diagram
    function makeChart(right){
        let wrong = questionList.length-right;

        var myChartObject = document.getElementById("myChart");
        var chart = new Chart(myChartObject,{
            type: 'pie',
            data: {
                labels: ["Richtig","Falsch"],
                datasets: [{
                    label: "Datensatz",
                    data: [right,wrong],
                    backgroundColor:[
                        'rgb(54, 162, 235)',
                        'rgb(255, 99, 132)'
                    ],
                    hoverOffset: 4
                }]

            }

        })

        restart();

    }

    //refresh the side to restart again
    function restart(){
        let text = ""
        //text+="<button class='button' type='reset' onClick='refreshPage()'>Again?!</button>"
        text+="<form action=\"/user_dashboard\">\n" +
            "    <input class='button' type=\"submit\" value=\"Again?!\" />\n" +
            "</form>"
        document.getElementById("again").innerHTML = text;
    }











</script>






</body>
</html>

-->